{
  "globals": {
    "ErrorCustom": true,
    "expect": true,
    "shallow": true,
    "mount": true,
    "jest": true,
    "render": true,
    "Generator": true,
    "SyntheticEvent": true,
    "SyntheticInputEvent": true,
    "Class": true,
    "React$Component": true,
    "System": true
  },
  "parser": "babel-eslint"
}